<%- include("./partials/header", {title: "Admin Dashboard"}) %>

<section class="py-12 sm:py-16">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold text-white">Dashboard</h1>

    <div class="mt-5">
      <h2 class="text-2xl font-semibold text-neutral-300">Company Accounts</h2>
      <% if (companies.length == 0) { %>
      <p class="text-lg text-neutral-400 mt-1">
        There are no new company accounts to approve, you're all good.
      </p>
      <% } else { %>

      <div class="overflow-x-auto mt-2">
        <table
          class="min-w-full divide-y-2 divide-neutral-400 bg-neutral-800 text-sm"
        >
          <thead>
            <tr class="text-left">
              <th
                class="whitespace-nowrap px-4 py-2 font-semibold text-neutral-300"
              >
                #
              </th>

              <th
                class="whitespace-nowrap px-4 py-2 font-semibold text-neutral-300"
              >
                Name
              </th>
              <th
                class="whitespace-nowrap px-4 py-2 font-semibold text-neutral-300"
              >
                Email
              </th>
              <th
                class="whitespace-nowrap px-4 py-2 font-semibold text-neutral-300"
              >
                Phone
              </th>

              <th class="px-4 py-2"></th>
            </tr>
          </thead>

          <tbody class="divide-y divide-neutral-400">
            <% companies.forEach((company, index) => { %>
            <tr class="text-left">
              <td
                class="whitespace-nowrap px-4 py-2 font-medium text-neutral-100"
              >
                <%= index + 1 %>
              </td>

              <td
                class="whitespace-nowrap px-4 py-2 font-medium text-neutral-100"
              >
                <a href="/admin/dashboard/<%= company.id %>">
                  <img
                    src="<%= company.photo %>"
                    alt="company logo"
                    class="rounded-full h-6 w-6 inline-block mr-2"
                  />
                  <span> <%= company.name %> </span>
                </a>
              </td>

              <td class="whitespace-nowrap px-4 py-2 text-neutral-100">
                <%= company.email %>
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-neutral-100">
                <%= company.phone %>
              </td>
              <td class="whitespace-nowrap px-4 py-2">
                <a
                  href="/admin/dashboard/<%= company.id %>"
                  class="btn-primary px-4 py-1 text-xs font-medium rounded"
                  >View</a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } %>
    </div>

    <hr class="border-neutral-500 my-5 max-w-3xl mx-auto" />

    <div class="mt-5">
      <h2 class="text-2xl font-semibold text-neutral-300">User Accounts</h2>
      <% if (users.length == 0) { %>
      <p class="text-lg text-neutral-400 mt-1">
        There are no new user accounts to approve, you're all good.
      </p>
      <% } else { %>
      <div class="overflow-x-auto mt-2">
        <table
          class="min-w-full divide-y-2 divide-neutral-400 bg-neutral-800 text-sm"
        >
          <thead>
            <tr class="text-left">
              <th
                class="whitespace-nowrap px-4 py-2 font-semibold text-neutral-300"
              >
                #
              </th>

              <th
                class="whitespace-nowrap px-4 py-2 font-semibold text-neutral-300"
              >
                Name
              </th>
              <th
                class="whitespace-nowrap px-4 py-2 font-semibold text-neutral-300"
              >
                Email
              </th>

              <th class="px-4 py-2"></th>
            </tr>
          </thead>

          <tbody class="divide-y divide-neutral-400">
            <% users.forEach((user, index) => { %>
            <tr class="text-left">
              <td
                class="whitespace-nowrap px-4 py-2 font-medium text-neutral-100"
              >
                <%= index + 1 %>
              </td>

              <td
                class="whitespace-nowrap px-4 py-2 font-medium text-neutral-100"
              >
                <a href="/admin/dashboard/u/<%= user.id %>">
                  <img
                    src="<%= user.photo %>"
                    alt="user profile picture"
                    class="rounded-full h-6 w-6 inline-block mr-2"
                  />
                  <span> <%= user.name %> </span>
                </a>
              </td>

              <td class="whitespace-nowrap px-4 py-2 text-neutral-100">
                <%= user.email %>
              </td>

              <td class="whitespace-nowrap px-4 py-2">
                <a
                  href="/admin/dashboard/u/<%= user.id %>"
                  class="btn-primary px-4 py-1 text-xs font-medium rounded"
                  >View</a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } %>
    </div>

    <div class="mt-5">
      <h2 class="text-2xl font-semibold text-neutral-300">Stats</h2>
      <dl class="mt-3 grid grid-cols-1 gap-5 sm:grid-cols-3">
        <div
          class="px-4 py-5 bg-neutral-800 shadow rounded-lg overflow-hidden sm:p-6"
        >
          <dt class="text-sm font-medium text-neutral-300 truncate">
            Total Companies
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-white">
            <%= companyCount %>
          </dd>
        </div>

        <div
          class="px-4 py-5 bg-neutral-800 shadow rounded-lg overflow-hidden sm:p-6"
        >
          <dt class="text-sm font-medium text-neutral-300 truncate">
            Total Users
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-white">
            <%= userCount %>
          </dd>
        </div>

        <div
          class="px-4 py-5 bg-neutral-800 shadow rounded-lg overflow-hidden sm:p-6"
        >
          <dt class="text-sm font-medium text-neutral-300 truncate">
            Jobs Posted
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-white">
            <%= jobCount %>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>

<%- include("./partials/footer") %>
