<%- include("./partials/header", {title: "Admin Dashboard"}) %>

<section class="py-12 bg-gray-50 sm:py-16">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold text-gray-900">Dashboard</h1>

    <div class="mt-5">
      <h2 class="text-2xl font-semibold text-gray-700">Company Accounts</h2>
      <% if (companies.length == 0) { %>
      <p class="text-lg text-gray-500 mt-2">
        There are no new company accounts to approve, you're all good.
      </p>
      <% } else { %>

      <div class="overflow-x-auto mt-2">
        <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
          <thead>
            <tr class="text-left">
              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                #
              </th>

              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                Name
              </th>
              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                Email
              </th>
              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                Phone
              </th>

              <th class="px-4 py-2"></th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-200">
            <% companies.forEach((company, index) => { %>
            <tr class="text-left">
              <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                <%= index + 1 %>
              </td>

              <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                <a href="/admin/dashboard/<%= company.id %>">
                  <img
                    src="<%= company.photo %>"
                    alt="company logo"
                    class="rounded-full h-6 w-6 inline-block mr-2"
                  />
                  <span> <%= company.name %> </span>
                </a>
              </td>

              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                <%= company.email %>
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                <%= company.phone %>
              </td>
              <td class="whitespace-nowrap px-4 py-2">
                <a
                  href="/admin/dashboard/<%= company.id %>"
                  class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700"
                  >View</a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } %>
    </div>

    <div class="mt-5">
      <h2 class="text-2xl font-semibold text-gray-700">User Accounts</h2>
      <% if (users.length == 0) { %>
      <p class="text-lg text-gray-500 mt-2">
        There are no new user accounts to approve, you're all good.
      </p>
      <% } else { %>
      <div class="overflow-x-auto mt-2">
        <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
          <thead>
            <tr class="text-left">
              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                #
              </th>

              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                Name
              </th>
              <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                Email
              </th>

              <th class="px-4 py-2"></th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-200">
            <% users.forEach((user, index) => { %>
            <tr class="text-left">
              <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                <%= index + 1 %>
              </td>

              <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                <a href="/admin/dashboard/u/<%= user.id %>">
                  <img
                    src="<%= user.photo %>"
                    alt="user profile picture"
                    class="rounded-full h-6 w-6 inline-block mr-2"
                  />
                  <span> <%= user.name %> </span>
                </a>
              </td>

              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                <%= user.email %>
              </td>

              <td class="whitespace-nowrap px-4 py-2">
                <a
                  href="/admin/dashboard/u/<%= user.id %>"
                  class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700"
                  >View</a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% } %>
    </div>

    <div class="mt-5">
      <h2 class="text-2xl font-semibold text-gray-700">Stats</h2>
      <dl class="mt-3 grid grid-cols-1 gap-5 sm:grid-cols-3">
        <div
          class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6"
        >
          <dt class="text-sm font-medium text-gray-500 truncate">
            Total Companies
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-gray-900">
            <%= companyCount %>
          </dd>
        </div>

        <div
          class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6"
        >
          <dt class="text-sm font-medium text-gray-500 truncate">
            Total Users
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-gray-900">
            <%= userCount %>
          </dd>
        </div>

        <div
          class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6"
        >
          <dt class="text-sm font-medium text-gray-500 truncate">
            Jobs Posted
          </dt>
          <dd class="mt-1 text-3xl font-semibold text-gray-900">
            <%= jobCount %>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>

<%- include("./partials/footer") %>
