<%- include("./partials/header", {title: "Jobs"}) %>

<section class="py-12 bg-gray-50 sm:py-16">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="text-center w-full">
      <img
        src="<%= company.photo %>"
        alt="Your profile picture"
        class="rounded-full w-20 h-20 inline ring-4"
      />
    </div>

    <h1
      class="mt-4 text-3xl font-semibold text-center text-gray-900 sm:text-4xl lg:text-5xl"
    >
      <%= company.name %>
    </h1>
    <p class="mt-4 mx-auto text-gray-700 max-w-3xl"><%= company.bio %></p>

    <h2 class="text-2xl text-gray-800 font-semibold mt-5">Contact Info</h2>
    <ul class="text-gray-700 mt-2">
      <li>Email: <em><%= company.email %></em></li>
      <li>Phone: <em><%= company.email %></em></li>
    </ul>

    <h2 class="text-2xl text-gray-800 font-semibold mt-5">Jobs</h2>
    <% if (company.jobs.length == 0) { %>
    <p class="text-gray-700 mt-2">
      You have not posted any jobs, start by creating a job ad for
      <strong>FREE</strong>.
    </p>
    <% } else { %>
    <ul class="mt-2 mb-3">
      <% company.jobs.forEach(job => { %>
      <li class="ml-5 mb-1 list-disc">
        <a
          class="text-lg underline text-gray-700 hover:text-gray-900"
          href="/company/jobs/<%= job.id %>"
          ><%= job.title %></a
        >
        <span class="text-sm text-gray-500 italic">
          <% if (job._count.applications == 0) { %> No applications <% } else if
          (job._count.applications == 1) { %> <%= job._count.applications %>
          application <% } else { %> <%= job._count.applications %> applications
          <% } %>
        </span>
      </li>
      <% }) %>
    </ul>
    <% } %>

    <p class="mt-1">
      <a class="btn-primary inline-block px-3 py-1" href="/company/jobs/new"
        >Post Job</a
      >
    </p>
  </div>
</section>

<%- include("./partials/footer") %>
