<%- include("./partials/header", {title: "Jobs"}) %>

<section class="py-12 bg-gray-50 sm:py-16">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1
      class="text-center text-3xl font-bold text-gray-900 sm:text-4xl lg:text-5xl"
    >
      <%= company.name %>
    </h1>
    <p class="text-center mt-4 text-gray-700"><%= company.bio %></p>

    <h2 class="text-2xl text-gray-800 font-semibold mt-5">Contact Info</h2>
    <ul class="text-gray-700 mt-2">
      <li>Email: <em><%= company.email %></em></li>
      <li>Phone: <em><%= company.email %></em></li>
    </ul>

    <h2 class="text-2xl text-gray-800 font-semibold mt-5">Jobs</h2>
    <% if (company.jobs.length == 0) { %>
    <p class="text-gray-700 mt-2">
      You have not posted any jobs, start by creating a job ad for
      <strong>FREE</strong>.
    </p>
    <% } else { %>
    <ul class="mt-2 mb-3">
      <% company.jobs.forEach(job => { %>
      <li class="ml-5 mb-1 list-disc">
        <a
          class="text-lg underline text-gray-700 hover:text-gray-900"
          href="/company/jobs/<%= job.id %>"
          ><%= job.title %></a
        >
      </li>
      <% }) %>
    </ul>
    <% } %>

    <p class="mt-1">
      <a class="btn-primary inline-block px-3 py-1" href="/company/jobs/new"
        >Post Job</a
      >
    </p>
  </div>
</section>

<%- include("./partials/footer") %>
