<%- include("./partials/header", {title: "Bringing change for black people"}) %>
<main>
  <%- include("./partials/hero") %> <%- include("./partials/about") %> <%-
  include("./partials/aboutOwner") %>
</main>

<%- include("./partials/footer") %>
