<%- include("./partials/header", {title: "Job Detail"}) %>

<section class="py-12 bg-gray-50 sm:py-16">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1
      class="text-center text-3xl font-bold text-gray-900 sm:text-4xl lg:text-5xl"
    >
      <%= job.title %>
    </h1>
    <p class="text-center mt-4 text-gray-700"><em>by</em> <%= job.company %></p>

    <div class="flex flex-col gap-4">
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-3 items-baseline">
        <h4 class="font-semibold">Company:</h4>
        <p class="flex-1"><%= job.company %></p>
      </div>

      <div class="flex flex-col sm:flex-row gap-1 sm:gap-3 items-baseline">
        <h4 class="font-semibold">Location:</h4>
        <p class="flex-1"><%= job.location %></p>
      </div>

      <div class="flex flex-col sm:flex-row gap-1 sm:gap-3 items-baseline">
        <h4 class="font-semibold">Workplace type:</h4>
        <p class="flex-1"><%= job.workplace %></p>
      </div>

      <div class="flex flex-col sm:flex-row gap-1 sm:gap-3 items-baseline">
        <h4 class="font-semibold">Job type:</h4>
        <p class="flex-1"><%= job.type %></p>
      </div>
    </div>

    <div class="mt-4">
      <h4 class="font-semibold">Job Description:</h4>
      <p class="max-w-3xl mt-1"><%= job.description %></p>
    </div>

    <div class="mt-4">
      <h3 class="font-semibold text-xl">Candidates:</h3>
      <p class="mt-1 text-gray-700">
        Total applications received: <%= job.applications.length %>
      </p>
      <% if (acceptedCandidate) { %>
      <h4 class="mt-2 font-medium">Selected Candidate:</h4>
      <div class="overflow-x-auto mt-2 max-w-3xl">
        <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
          <thead>
            <tr>
              <th
                class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-left"
              >
                Name
              </th>
              <th
                class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-left"
              >
                Email
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                <%= acceptedCandidate.name %>
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                <%= acceptedCandidate.email %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <% } %> <% if (job.applications.length == 0) { %>
      <p class="font-semibold text-gray-700">
        No one has applied for this job yet.
      </p>
      <% } else {%>
      <h4 class="mt-4 font-medium">All Candidates:</h4>
      <div class="overflow-x-auto mt-2 max-w-3xl">
        <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
          <thead>
            <tr>
              <th
                class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-left"
              >
                Serial No.
              </th>
              <th
                class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-left"
              >
                Candidate Name
              </th>
              <th
                class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-left"
              >
                Candidate Email
              </th>
              <th
                class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-left"
              >
                Accept Candidate
              </th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-200">
            <% job.applications.forEach((application, index) => { %>

            <tr>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                <%= index + 1 %>
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                <%= application.User.name %>
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                <%= application.User.email %>
              </td>
              <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                <% if (!isApplicationAccepted) { %>
                <form
                  method="post"
                  action="/company/jobs/<%= job.id %>/accept/<%= application.id %>"
                >
                  <button
                    type="submit"
                    class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700"
                  >
                    Accept
                  </button>
                </form>
                <% } else { %>
                <button class="bg-gray-300 px-3 py-1 rounded" disabled>
                  Aready Selected
                </button>
                <% } %>
              </td>
            </tr>

            <% }) %>
          </tbody>
        </table>
      </div>
      <% } %>
    </div>

    <div class="mt-5">
      <p class="inline-block">
        <a
          href="/company/jobs/<%= job.id %>/edit"
          class="border-gray-200 border-2 rounded px-3 py-1 text-gray-500 font-semibold text-sm hover:bg-gray-100 transition-colors"
        >
          Edit
        </a>
      </p>
      <form
        method="post"
        class="inline-block"
        action="/company/jobs/<%= job.id %>/delete"
      >
        <button
          class="border-red-200 border-2 rounded px-3 py-1 ml-3 text-red-400 font-semibold text-sm hover:bg-red-50 transition-colors"
        >
          Delete
        </button>
      </form>
    </div>
  </div>
</section>

<%- include("./partials/footer") %>
