<%- include("./partials/header", {title: "Jobs"}) %>

<section class="py-12 sm:py-16">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl text-center font-bold text-white lg:text-4xl">Jobs</h1>

    <% if (jobs.length === 0) { %>
    <p class="text-lg text-neutral-300 text-center mt-5">
      There are no jobs, start by creating one.

      <a
        href="/company/jobs/new"
        class="block mx-auto mt-4 btn-primary px-4 py-1 max-w-fit"
        >Post New Job</a
      >
    </p>
    <% } else { %>
    <p class="mt-5 max-w-3xl mx-auto text-neutral-300">
      <a href="/company/jobs/new" class="btn-primary px-2 py-1 text-xs"
        >+ Create New Job</a
      >
    </p>
    <ul class="max-w-3xl mx-auto mt-5">
      <% jobs.forEach(job => { %>
      <li
        class="my-3 border-2 border-neutral-700 bg-neutral-800 rounded-xl shadow-sm w-full px-5 py-2 flex flex-col sm:flex-row sm:items-center justify-between"
      >
        <div>
          <h3 class="text-lg font-semibold text-neutral-100">
            <a href="/company/jobs/<%= job.id %>"> <%= job.title %> </a>
          </h3>
          <p class="text-sm text-neutral-300 break-words my-1">
            <%= job.description.substring(0, 100) %>...
          </p>
          <p class="text-neutral-100 text-xs">
            <span class="font-bold text-neutral-400">Job Type:</span> <%=
            job.type %>
            <span class="font-bold text-neutral-400">Workplace:</span> <%=
            job.workplace %>
          </p>
        </div>

        <p class="sm:ml-2">
          <a
            href="/company/jobs/<%= job.id %>"
            class="underline font-bold text-golden text-sm"
            >View Details</a
          >
        </p>
      </li>
      <% }) %>
    </ul>
    <% } %>
  </div>
</section>

<%- include("./partials/footer") %>
