<%- include("./partials/header", {title: "Jobs"}) %>

<section class="py-12 bg-gray-50 sm:py-16">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl text-center font-bold text-gray-900 lg:text-4xl">
      Jobs
    </h1>

    <% if (jobs.length === 0) { %>
    <p class="text-lg text-gray-700 text-center">
      There are no jobs, start by creating one.
    </p>
    <% } else { %>
    <ul class="max-w-3xl mx-auto mt-5">
      <% jobs.forEach(job => { %>
      <li
        class="my-3 border-2 border-gray-200 bg-white rounded shadow-sm w-full px-5 py-2 flex flex-col sm:flex-row sm:items-center justify-between"
      >
        <div>
          <h3 class="text-lg font-semibold text-gray-600">
            <a href="/company/jobs/<%= job.id %>"> <%= job.title %> </a>
          </h3>
          <p class="text-sm text-gray-500 break-words my-1">
            <%= job.description.substring(0, 100) %>...
          </p>
          <p class="text-gray-500 text-xs">
            Job Type: <%= job.type %> Workplace: <%= job.workplace %>
          </p>
        </div>

        <p class="sm:ml-2">
          <a
            href="/company/jobs/<%= job.id %>"
            class="underline font-bold text-gray-500 text-sm"
            >View Details</a
          >
        </p>
      </li>
      <% }) %>
    </ul>
    <% } %>
  </div>
</section>

<%- include("./partials/footer") %>
