<%- include("./partials/header", {title: "Chat"}) %>

<section class="py-12 sm:py-16">
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
    <div
      class="flex h-[60vh] overflow-hidden relative w-full rounded-xl border border-neutral-700 bg-neutral-800"
    >
      <div class="flex-1">
        <!-- header -->
        <div class="bg-neutral-900 px-4 py-2">
          <p class="font-semibold text-lg"><%= user.name %></p>
        </div>

        <!-- messages -->
        <div
          class="messages-container overflow-y-auto h-full p-4 flex flex-col gap-3"
        >
          <!-- chat message  -->
          <div class="max-w-lg flex gap-x-2 sm:gap-x-4">
            <p
              class="bg-neutral-900 text-white border border-neutral-700 rounded-2xl px-4 py-2 space-y-3"
            >
              Message text goes here
            </p>
          </div>

          <!-- chat message -->
          <div class="max-w-md ms-auto flex justify-end gap-x-2 sm:gap-x-4">
            <p
              class="bg-yellowMain text-neutral-900 rounded-2xl px-4 py-2 space-y-3"
            >
              Message text goes here without a do and crisp. Message text goes
              here without a do and crisp. Message text goes here without a do
              and crisp. Message text goes here without a do and crisp. Message
              text goes here without a do and crisp. Message text goes here
              without a do and crisp.
            </p>
          </div>
        </div>

        <!-- chat input -->
        <div class="absolute bottom-2 px-4 w-full">
          <form class="chat-form flex w-full gap-2">
            <input
              class="chat-input block input-primary px-3 py-2 flex-1"
              type="text"
              placeholder="Your message"
            />

            <button class="btn-primary block px-3 py-1" type="submit">
              Send
            </button>
          </form>
        </div>

        <div class="hidden">
          <input value="<%= locals.userId %>" id="userId" class="hidden" />
          <input value="<%= user.id %>" id="toUser" class="hidden" />
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
  const socket = io();

  const msgsContainer = document.querySelector(".messages-container");
  const form = document.querySelector(".chat-form");
  const input = document.querySelector(".chat-input");
  const userId = document.getElementById("userId").value;
  const toUser = document.getElementById("toUser").value;

  const roomId = [userId, toUser].sort((a, b) => a - b).join("-");
  console.log({ roomId });

  form.addEventListener("submit", (event) => {
    event.preventDefault();
    const message = input.value.trim();

    // don't send empty messages
    if (message === "") return null;

    socket.emit("chat-message", { from: userId, toUser, message });

    // clear input field
    input.value = "";
  });

  socket.on(roomId, (data) => {
    const p = document.createElement("p");
    if (data.from === userId) {
      p.classList.add(
        "bg-neutral-600",
        "max-w-fit",
        "py-1",
        "px-3",
        "rounded-xl"
      );
    } else {
      p.classList.add(
        "bg-yellowMain",
        "text-neutral-900",
        "max-w-fit",
        "py-1",
        "px-3",
        "rounded-xl"
      );
    }

    p.textContent = data.message;

    msgsContainer.appendChild(p);
  });
</script>

<%- include("./partials/footer") %>
