<%- include("./partials/header", {title: "Login"}) %>

<main>
  <section class="py-12 sm:py-16">
    <div class="text-center mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <h1 class="text-4xl font-bold text-gray-50 sm:text-5xl lg:text-6xl">
        Messages
      </h1>
      <p class="mt-5 text-lg text-gray-400">
        Make friends, have chat with them.
      </p>

      <% if (!users) { %>
      <p class="text-neutral-400 text-lg">
        You haven't sent message to anyone yet.
      </p>
      <% } else { %>

      <ul class="max-w-xl mt-8 mx-auto">
        <% users.forEach(user => { %>
        <li
          class="my-5 border border-neutral-700 bg-neutral-900 text-left rounded-xl shadow-sm w-full px-5 py-2"
        >
          <h3>
            <a
              href="/messages/<%= user.id %>"
              class="text-yellow-500 text-lg font-semibold underline"
            >
              <%= user.name %>
            </a>
          </h3>
          <p>
            <a
              class="text-sm text-neutral-400 underline"
              href="/messages/<%= user.id %>"
              >View Messages</a
            >
          </p>
        </li>
        <% }) %>
      </ul>
      <% } %>
    </div>
  </section>
</main>

<%- include("./partials/footer") %>
