<%- include("./partials/header", {title: "Profile"}) %>

<section class="py-12 bg-gray-50 sm:py-16">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div
      class="flex flex-col items-center gap-y-4 sm:flex-row sm:gap-x-3 bg-white border-[1px] border-gray-200 rounded p-4"
    >
      <img
        src="<%= user.photo %>"
        alt="Your profile picture"
        class="rounded-full w-20 h-20 sm:w-12 sm:h-12 inline ring-4"
      />
      <h1 class="text-gray-900 text-3xl font-semibold"><%= user.name %></h1>
    </div>

    <div
      class="flex flex-col gap-4 sm:flex-row sm:gap-12 bg-white border-[1px] border-gray-200 border-t-0 rounded p-4"
    >
      <div class="sm:border-r-2 border-gray-200 sm:pr-4">
        <h4 class="text-sm text-gray-600">Email:</h4>
        <p><%= user.email %></p>
      </div>

      <div class="sm:border-r-2 border-gray-200 sm:pr-4">
        <h4 class="text-sm text-gray-600">Joined:</h4>
        <p><%= user.createdAt.toDateString() %></p>
      </div>

      <div>
        <h4 class="text-sm text-gray-600">Account Status:</h4>
        <p><%= user.verified ? "Approved" : "Pending" %></p>
      </div>
    </div>

    <div class="bg-white border-[1px] border-gray-200 rounded p-4 mt-8">
      <h3 class="font-semibold border-b-[1px] border-gray-200 pb-2">About</h3>
      <p class="pt-3 max-w-3xl"><%= user.bio %></p>
    </div>

    <div class="bg-white border-[1px] border-gray-200 rounded p-4 mt-8">
      <h3 class="font-semibold border-b-[1px] border-gray-200 pb-2">Jobs</h3>

      <div class="bg-white border-[1px] border-gray-200 rounded-md p-4 mt-8">
        <h3 class="font-semibold border-b-[1px] border-gray-200 pb-2">
          Recently Posted Jobs
        </h3>

        <p class="mt-2 text-gray-500 text-sm">
          These are some recently posted jobs, to view all jobs available
          <a href="/jobs" class="text-purple-700">click here.</a>
        </p>

        <% if (recentJobs.length > 0) { %>
        <div class="overflow-x-auto mt-2">
          <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
            <thead>
              <tr class="text-left">
                <th
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"
                >
                  #
                </th>

                <th
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"
                >
                  Title
                </th>

                <th
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"
                >
                  Location
                </th>

                <th
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"
                >
                  Type
                </th>

                <th
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"
                >
                  Workplace
                </th>

                <th
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"
                >
                  Company
                </th>

                <th class="px-4 py-2"></th>
              </tr>
            </thead>

            <tbody class="divide-y divide-gray-200">
              <% recentJobs.forEach((job, index) => { %>
              <tr class="text-left">
                <td
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"
                >
                  <%= index + 1 %>
                </td>

                <td
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"
                >
                  <a href="/jobs/<%= job.id %>"> <%= job.title %> </a>
                </td>

                <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                  <%= job.location %>
                </td>

                <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                  <%= job.type == "partTime" ? "Part-time" : job.type ==
                  "fullTime" ? "Full-time" : job.type %>
                </td>

                <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                  <%= job.workplace == "onSite" ? "on-site" : job.workplace %>
                </td>

                <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                  <%= job.company %>
                </td>

                <td class="whitespace-nowrap px-4 py-2">
                  <a
                    href="/jobs/<%= job.id %>"
                    class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700"
                    >View</a
                  >
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <% } else { %>
        <p class="mt-3 text-gray-700">
          Currently there are no jobs available, please check back later.
        </p>
        <% } %>
      </div>

      <div class="bg-white border-[1px] border-gray-200 rounded-md p-4 mt-8">
        <h3 class="font-semibold border-b-[1px] border-gray-200 pb-2">
          Applied Jobs
        </h3>

        <p class="mt-2 text-gray-500 text-sm">
          These are jobs that you've applied, to view more jobs please
          <a href="/jobs" class="text-purple-700">click here.</a>
        </p>

        <% if (jobsApplied.length > 0) { %>
        <div class="overflow-x-auto mt-2">
          <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
            <thead>
              <tr class="text-left">
                <th
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"
                >
                  #
                </th>

                <th
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"
                >
                  Title
                </th>

                <th
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"
                >
                  Location
                </th>

                <th
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"
                >
                  Type
                </th>

                <th
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"
                >
                  Workplace
                </th>

                <th
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"
                >
                  Company
                </th>

                <th class="px-4 py-2"></th>
              </tr>
            </thead>

            <tbody class="divide-y divide-gray-200">
              <% jobsApplied.forEach((job, index) => { %>
              <tr class="text-left">
                <td
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"
                >
                  <%= index + 1 %>
                </td>

                <td
                  class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"
                >
                  <a href="/jobs/<%= job.id %>"> <%= job.title %> </a>
                </td>

                <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                  <%= job.location %>
                </td>

                <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                  <%= job.type == "partTime" ? "Part-time" : job.type ==
                  "fullTime" ? "Full-time" : job.type %>
                </td>

                <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                  <%= job.workplace == "onSite" ? "on-site" : job.workplace %>
                </td>

                <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                  <%= job.company %>
                </td>

                <td class="whitespace-nowrap px-4 py-2">
                  <a
                    href="/jobs/<%= job.id %>"
                    class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700"
                    >View</a
                  >
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <% } else { %>
        <p class="mt-3 text-gray-700">You haven't applied to any job yet.</p>
        <% } %>
      </div>
    </div>
  </div>
</section>

<%- include("./partials/footer") %>
