<%- include("./partials/header", {title: "Job Detail"}) %>

<section class="py-12 bg-gray-50 sm:py-16">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900 lg:text-4xl">
      <%= job.title %>
    </h1>
    <p class="text-gray-700 ml-3"><em>by</em> <%= job.company %></p>

    <div class="flex flex-col gap-4 mt-5">
      <div class="flex flex-col sm:flex-row gap-1 sm:gap-3 items-baseline">
        <h4 class="font-semibold">Company:</h4>
        <p class="flex-1"><%= job.company %></p>
      </div>

      <div class="flex flex-col sm:flex-row gap-1 sm:gap-3 items-baseline">
        <h4 class="font-semibold">Location:</h4>
        <p class="flex-1"><%= job.location %></p>
      </div>

      <div class="flex flex-col sm:flex-row gap-1 sm:gap-3 items-baseline">
        <h4 class="font-semibold">Workplace type:</h4>
        <p class="flex-1"><%= job.workplace %></p>
      </div>

      <div class="flex flex-col sm:flex-row gap-1 sm:gap-3 items-baseline">
        <h4 class="font-semibold">Job type:</h4>
        <p class="flex-1"><%= job.type %></p>
      </div>

      <div>
        <h4 class="font-semibold">About Job:</h4>
        <p class="flex-1 max-w-xl mt-2"><%= job.description %></p>
      </div>
    </div>
    <form method="POST" action="/user/jobs/apply/<%= job.id %>" class="mt-4">
      <button type="submit" class="btn-primary py-1 px-4 text-sm">Apply</button>
    </form>
  </div>
</section>

<%- include("./partials/footer") %>
