<%- include("./partials/header", {title: "Approve / Decline Account"}) %>

<section class="py-12 bg-gray-50 sm:py-16">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1
      class="text-center text-3xl font-bold text-gray-900 sm:text-4xl lg:text-5xl"
    >
      Approve / Decline
    </h1>
    <p class="text-center mt-4 text-gray-500">
      If you decline any acocunt, it'll be deleted from database.
    </p>

    <h2 class="text-2xl text-gray-800 font-semibold mt-5"><%= user.name %></h2>
    <p class="text-gray-700 max-w-3xl">
      <strong>Bio:</strong> <br /><%= user.bio %>
    </p>

    <h2 class="text-2xl text-gray-800 font-semibold mt-4">Contact Info:</h2>
    <ul class="text-gray-700 mt-2">
      <li>Email: <em><%= user.email %></em></li>
    </ul>

    <div class="mt-5">
      <form
        method="POST"
        action="/admin/dashboard/u/<%= user.id %>/approve"
        class="inline-block"
      >
        <button class="btn-primary py-1 px-3" type="submit">Approve</button>
      </form>

      <form
        method="POST"
        action="/admin/dashboard/u/<%= user.id %>/decline"
        class="inline-block ml-4"
      >
        <button
          class="py-1 px-3 font-semibold border-2 border-red-300 text-red-300 hover:text-red-400 rounded-lg"
          type="submit"
        >
          Decline
        </button>
      </form>
    </div>
  </div>
</section>

<%- include("./partials/footer") %>
